*{
  margin:0;
  padding:0;
  -webkit-user-select: none;
  font-family: 'Verdana'
}
#logo{
  height: 8vh;
}
body{
  background-color: #f5f5f5;
}
nav{
  background-color: #e7717d;
  padding-bottom: 1vh;
}
h1{
  text-align: center;
  font-size: 4.5vw;
  padding: 3vh;
}
.inline{
  display: inline;
  width:32%;
}
#signup-box{
  text-align: center;
  background-color: white;
  padding-bottom: 2vw;
  padding-top:2vw;
  width:50vw;
  text-align: center;
  border-radius: 10px;
  margin:auto;
}
input{
  border:none;
  height:8vh;
  font-size:1.6vw;
  margin:3%;
  padding-left: 3vw;
  padding-right: 3vw;
}
input:focus {
    outline:none;
    background-color: #f7f7f7;
    border-bottom: 0.3vh solid #b8b8b8;
    transition-duration:0.5s;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2c2c2c;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2c2c2c;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c2c2c;
}
.block{
  float:left;
  margin-left: 2vw;
  width:80%;
}
#btnCreateAcc{
  background-color: #e35b69;
  color:white;
  margin: auto;
  border: none;
  outline: none;
  height: 10vh;
  width: 27vw;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.6vw;
}
#btnCreateAcc:active{
  background-color: #b54854;
}
